@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model IEnumerable<InvoiceApplication.Models.Invoices>

<h2>Invoices List</h2>
<table class="Invoice Data">
    <tr>
        <th>Invoice ID</th>
        <th>Coustomer Name</th>
       
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>@item.InvoiceId</td>
        <td>@item.CustomerName</td>
    
    </tr>
    }
</table>
